.App {
  text-align: center;
}
.gold{
  color : gold;
  cursor: pointer;
  font-size:  2rem;
}
.black{
  color : black;
  cursor: pointer;
  font-size: 2rem;
  
}
.card{
  text-align: center;
  margin: auto;
}
.trailer{
  margin: auto;
}

